{%  extends 'base_templates/index_template.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<style>
	.profile-pic{
		margin: auto;
		width: 200px;
		height: 200px;
		overflow: hidden;
		border-radius: 50%;
	}

	.row{
		margin: 0 auto;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'home' %}"> &#8592; Back to Profile</a>
			<hr>
			<h3 style="text-align: center">Account Settings</h3>
			<hr>
			<h3 style="text-align: center">{{user.name}}</h3>
			<hr>
			<h3 style="text-align: center">{{user.email}}</h3>
			<hr>
			<h3 style="text-align: center">{{user.phone}}</h3>
			<hr>
			<h3 style="text-align: center">{{user.group}}</h3>
			<hr>
			<img class="profile-pic" src="{{request.user.myuser.profile_picture.url}}" >
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{form|crispy}}
		
			<input class="btn btn-primary" type="submit" name="Update Information">
			<a class="btn btn-warning" href="{% url 'viewLists' user.id %}"> View lists</a>
			<a class="btn btn-warning" href="{% url 'addChildItem' user.id %}"> Add list</a>
			<a class="btn btn-warning" href="{% url 'viewPersonalEvents' user.id %}"> View personal list</a>
			<a class="btn btn-warning" href="{% url 'addPersonalEvent' user.id %}"> Add task</a>
			</form>
		</div>
	</div>
</div>



{% endblock %}